{% extends "base.html" %}
{% block title %}Nearest Local Family Medical Practitioner | MedEM{% endblock %}
{% block content %}
<h1>Please proceed to nearest local family medical practitioner.</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d24161.245496788022!2d-77.86892217789122!3d40.802572485589984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sfamily+medical+center!5e0!3m2!1sen!2sus!4v1543355726073" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<p>https://developers.google.com/maps/documentation/javascript/marker-clustering</p>
{% endblock %}
