{% extends "base.html" %}
{% block title %}Nearest Urgent Care | MedEM{% endblock %}
{% block content %}
<h1>Please proceed to nearest urgent care.</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d22723.096240115926!2d-77.86892216852536!3d40.80251372254085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1surgent+care+center!5e0!3m2!1sen!2sus!4v1543355655905" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<p>https://developers.google.com/maps/documentation/javascript/marker-clustering</p>
{% endblock %}
